@mixin paged-desktop($width, $columns) {
  @include at-breakpoint($width $columns lt-ie9) {
    $label-columns: 8;
    $field-columns: $columns - $label-columns;
    $grid-padding: 2em;

    @include general-desktop;

    tr {
      border: none;
    }

    .panel {
      @include container;
      @include tablemix($columns, $label-columns, $field-columns);

      border: 4px solid #dddddd;
      margin-top: 6em;
      padding: 3em $grid-padding 1.5em;
    }

    .item {
      @include span-columns($columns omega);

      margin-bottom: 18px;
    }

    .item.horizontal {
      &.radio,
      &.check_box {
        .option {
          @include span-columns($columns omega);

          .radiocheckwrapper { @include span-columns(1); }
          .labelwrapper {
            @include span-columns($columns - 1 omega);
          }

          &.show_values {
            .value { @include span-columns(1); }
            .labelwrapper {
              @include span-columns($columns - 2 omega);
            }
          }

          .subquestions {
            @include pre(1);
            @include span-columns(23-$label-columns);

            .item {
              @include span-columns(23-$label-columns);
              input { width: auto; }
            }

            .radiocheckwrapper {
              width: 10px;
              padding-right: 20px;
            }
            .labelwrapper {
              width: auto;
              float: none;
            }
          }
        }

        .inner-title { @include span-columns($columns omega); }
      }

      &.string,
      &.textarea {
        input, textarea { @include span-columns($columns omega); }
        .sized { width: auto; }
      }

      &.integer.slider,
      &.float.slider {
        .slider { @include span-columns($columns omega); }
        .fd-form-element-hidden { display: none; }

        .slider-label-left  {
          @include span-columns($columns/2);
          text-align: left;
        }

        .slider-label-right {
          @include span-columns($columns/2 omega);
          text-align: right;
        }
      }
    }

    .item.vertical {
      .main {
        @include span-columns($label-columns);
      }

      .description-and-fields {
        @include span-columns($field-columns omega);
        float: left;
        .description { @include text; }
      }

      &.radio,
      &.check_box {
        .option {
          @include span-columns($field-columns omega, $field-columns);

          .radiocheckwrapper { @include span-columns(1, $field-columns); }
          .labelwrapper { @include span-columns($field-columns - 1 omega, $field-columns); }

          &.show_values {
            .value { @include span-columns(1, $field-columns); }
            .labelwrapper { @include span-columns($field-columns - 2 omega, $field-columns); }
          }

          .subquestions {
            @include pre(1);
            @include span-columns($field-columns - 1, $field-columns);

            .item {
              @include span-columns($field-columns - 1, $field-columns);
              .main { @include span-columns($field-columns - 1 omega, $field-columns - 1); }
              input { width: auto; }
            }

            .radiocheckwrapper {
              width: 10px;
              padding-right: 20px;
            }
            .labelwrapper {
              width: auto;
              float: none;
            }
          }
        }

        .inner-title { @include span-columns($field-columns omega, $field-columns); }
      }

      &.string,
      &.textarea {
        input, textarea { @include span-columns($field-columns omega, $field-columns); }
        .sized { width: auto; }
      }

      &.integer.slider,
      &.float.slider {
        .slider { @include span-columns($field-columns omega, $field-columns); }

        .slider-label-left {
          @include span-columns(($field-columns)/2, $field-columns);
          text-align: left;
        }

        .slider-label-right {
          @include span-columns(($field-columns)/2 omega, $field-columns);
          text-align: right;
        }
      }
    }

    .progress-bar {
      @include span-columns($total-columns omega);
      margin: 1.5em (-$grid-padding) -1.5em;
      padding: 1.5em $grid-padding;

      .progress-wrapper {
        .progress-slider {
          background-position: 0 4px;
          display: inline-block; zoom: 1; *display: inline; // IE7 Hack
          .progress-stop {
            margin: 0 3px;
            width: 10px;
            height: 10px;
          }
          &.long-list {
            display: inline-block; zoom: 1; *display: inline; // IE7 Hack
          }
        }
      }
    }

    .buttons {
      @include span-columns($total-columns omega);
      margin: 1.5em (-$grid-padding) -1.5em;
      padding: 1.5em $grid-padding;
      border-bottom: 0;

      .back  { @include span-columns($columns / 4); }
      .prev  { @include span-columns($columns / 4); }
      .abort { @include span-columns($columns / 4); text-align: center; display: block; }
      .print { @include span-columns($columns); text-align: right; }
      .next  { @include span-columns($columns / 4 omega); text-align: right; }
      .save  { @include span-columns($columns / 4 omega); text-align: right; }
    }
  }
}