:javascript
  window.panel_validations = {};
  //for setting values of raw_content
  window.extra_question_values = #{@answer.extra_question_values};
  // for showing validations of raw content
  window.extra_failed_validations = #{@answer.extra_failed_validations};

- content_for(:extra_css, raw(@questionnaire.extra_css))

%h1=@questionnaire.title

- previous_item = nil
= form_tag "", :method => :put, :class => [@questionnaire.key, "print"].join(" "), :autocomplete => "off" do
  - @questionnaire.panels.each_with_index do |panel, panel_counter|
    - panel.items.each_with_index do |item, idx|
      = render :partial => "quby/v1/print/item", :object => item, :locals => { :item_counter => idx, :items => panel.items, :previous_item => previous_item}
      - previous_item = item if item.is_a? Quby::Questionnaires::Entities::Question

-#= button_to_function 'Print', "window.print();", :class => "print_button"
