!!! XML
!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %title Roqua
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=edge"}
    = stylesheet_link_tag 'quby/dialog'
    = javascript_include_tag 'quby/application'
    /[if lt IE 7]
      %script{:defer=>"defer", :type=>"text/javascript", :src=>"/javascripts/pngfix.js"}
    %link{:rel=>"Shortcut Icon", :href=>"/favicon.ico"}

  %body
    #content{ :class => class_for_current_controller_and_action }
      = yield
