- available_width = question.presentation == :horizontal ? 100 : 66
%td.item{:class => os_cycle, :style => "width:#{available_width/(table.columns)}%"}
  .fields{:class => question.type, :id => "answer_#{question.key}_input"}
    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => question.type, :size => (question.size || 30)
    = validations