- available_width = question.presentation == :horizontal ? 100 : 66
%td.item{:class => os_cycle, :style => "width:#{available_width/(table.columns)}%"}
  .fields{:class => question.type, :id => "answer_#{question.key}_input"}
    %select(name="answer[#{question.key}]") 
      -question.options.each do |opt|
        - checked = @answer.send(question.key) == opt.key.to_s
        - @answer.to_hide += opt.hides_questions if checked
        - hash = {:value => opt.key, :hides => opt.hides_questions.to_json || "[]", :allhidden => question.hides_questions.to_json ||"[]", :class => question.type}
        - hash[:selected] = 'selected' if checked 
        %option{hash}
          =opt.description
