-# frozen_string_literal: true
- if question.blank?
  %th.option{class: os_cycle, colspan: colspan}
- else
  -#TODO: if a hidden option is checked it should get its own new scale header
  - cls = ['scaleheader']
  - if question.score_header == :question_description
    %th.option{title: strip_tags(question.description), class: cls, colspan: colspan, data: {for: question.key}}
      = Quby::MarkdownParser.new(question.description).html_safe
  - else
    - question.options.each do |option|
      - next if (option.inner_title or option.hidden)
      %th.option{title: strip_tags(option.description), class: cls, data: {for: question.key}}
        -#= raw cycle("<br/>", "", :name => "headbr" )
        - case question.score_header
        - when :value
          = option.value
        - when :description
          = Quby::MarkdownParser.new(option.description).html_safe

