- available_width = question.presentation == :horizontal ? 100 : 66
%td.item{:class => os_cycle, :style => "width:#{available_width/(table.columns)}%", :rowspan => question.row_span, :data => question.extra_data}
  .fields{:class => question.type, :id => question.html_id}
    %select(name="answer[#{question.key}]" onchange="$(\"#answer_#{question.key}_\"+this.value).trigger(\"click\")")
      -question.options.each do |opt|
        - checked = @answer.send(question.key) == opt.key.to_s
        - next if (opt.hidden and not checked)
        - classes = [question.type]
        - classes << 'placeholder' if opt.placeholder
        - hash = {:value => opt.key, :class => classes, :id => opt.view_id}
        - hash[:selected] = 'selected' if checked
        %option{hash}
          =opt.description
    = validations