- available_width = question.presentation == :horizontal ? 100 : 66
- classes = [os_cycle]
- classes << question.question_group if question.question_group
- itemkey = "item_#{question.key}"
%td.item{:id => itemkey, :class => classes, :style => "width:#{available_width/(table.columns)}%", :rowspan => question.row_span, :data => question.extra_data}
  %span.nowrap.fields{:id => question.html_id, :class => question.type}
    = render 'quby/v1/shared/date_inputs', :question => question, :subquestion => subquestion, :disabled => disabled
