.options
  - item_radio_check_scale_options.options.each_with_index do |option, idx|
    -next if option.inner_title
    - cls = []
    - cls << "first" if idx <= 0
    - cls << "last" if idx >= (item_radio_check_scale_options.options.size - 1)
    - cls << "optionwidth#{item_radio_check_scale_options.options.size}"
    .option{:title=> raw(option.description), :class => cls}
      - case item_radio_check_scale_options.score_header 
      - when :value
        = option.value
      - when :description
        = raw option.description      
      
