%ol.noindent
  %li{:class =>['question-item','number'], :id=>"answer_#{question.key}_input"}
    %label(for="answer_#{question.key}")= question.title
    - unless question.description.blank?
      .description
        :markdown
          #{raw question.description}

    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => subquestion ? "subinput" : ""
