=marukufix(question.title, "answer_#{question.key}")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields(id="answer_#{question.key}_input")
    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => subquestion ? "subinput" : ""
