.rvmrc
.bundle/
.sass-cache
doc/*.log
doc/**/*.log
log/*
pkg/
.idea
tmp/**/*
db/*.sqlite3
config/database.yml
config/mongoid.yml
db/questionnaires
tmp/restart.txt
.bundle
gems/*
!gems/cache
!gems/bundler
#*#
.#*
public/assets

spec/dummy/config/database.yml
spec/dummy/config/mongoid.yml
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
