# It is recommended to not commit the .lock files of appraisal gemfiles to the repository
gemfiles/*.lock

.rvmrc
.bundle/
vendor/bundle/
node_modules/
.sass-cache
doc/*.log
doc/**/*.log
rdoc
local
log/*
pkg/
.idea
tmp/**/*
db/*.sqlite3
config/database.yml
db/questionnaires
tmp/restart.txt
.bundle
gems/*
!gems/cache
!gems/bundler
#*#
.#*
.DS_Store
public/assets

profiles/

spec/dummy/config/database.yml
spec/dummy/db/*.sqlite3
spec/dummy/db/questionnaires
spec/dummy/log/*.log
spec/dummy/tmp/
spec/internal/db/*.sqlite3
spec/internal/log/*.log
spec/internal/tmp/
spec/internal/screenshot*
.ruby-version
.ruby-gemset
.byebug-history
