.rvmrc
.bundle/
.sass-cache
doc/*.log
doc/**/*.log
log/*
pkg/
.idea
tmp/**/*
db/*.sqlite3
test/dummy/config/database.yml
test/dummy/config/mongoid.yml
db/questionnaires
tmp/restart.txt
.bundle
gems/*
!gems/cache
!gems/bundler
#*#
.#*
public/assets
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
