=marukufix(question.title, "answer_#{question.key}")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    %select(name="answer[#{question.key}]")
      -question.options.each do |opt|
        - checked = @answer.send(question.key) == opt.key.to_s
        - next if (opt.hidden and not checked)
        - cls = [question.type]
        - cls << "subinput"  if subquestion
        - hash = {:value => opt.key, :class => cls, :disabled => disabled ? "" : nil}
        - hash[:selected] = 'selected' if @answer.send(question.key) == opt.key.to_s
        %option{hash}
          =opt.description
