.bulk {
  @include at-breakpoint(35em 24 lt-ie9) {
    $desktop-columns: 24;
    $label-columns: 12;
    $field-columns: $desktop-columns - $label-columns;
    
    @include container;

    border: 10px solid #dddddd;
    padding: 3em $grid-padding 1.5em;
    line-height: 18px;
    background: white;
    
    .buttons {
      @include span-columns($desktop-columns omega);
      margin: 1.5em (-$grid-padding) -1.5em;
      padding: 1.5em $grid-padding;
      border-top: 1px dotted #d6d6d6;
      background: #f3f3f3;

      .prev { @include span-columns(6); }
      .abort { @include span-columns(12); text-align: center; }
      .print { @include span-columns(12); text-align: center; }
      .next { @include span-columns(6 omega); text-align: right; }
      .save { @include span-columns(6 omega); text-align: right; }
    }

    .panel {
      @include span-columns($desktop-columns omega);
      
      h1 {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 1.2em;
        z-index: 400;
      }
      
      &.first .buttons {
        .abort { @include pre(6); }
        .print { @include pre(6); }
      }
      
    .options {
        @include pre(12);
        @include span-columns(12 omega);
        margin-top: 1em;
        .option {
            text-align: center;
        }
    }
    .option {
        display: inline;
        float: left;
        &.optionwidth1{width:20%}
        &.optionwidth2{width:20%}
        &.optionwidth3{width:20%}
        &.optionwidth4{width:20%}
        &.optionwidth5{width:19%}
        &.optionwidth6{width:(100%/6)}
        &.optionwidth7{width:(100%/7)}
        &.optionwidth8{width:(100%/8)}
        &.optionwidth9{width:(100%/9)}
        &.optionwidth10{width:(100%/10)}
        &.optionwidth11{width:(100%/11)}
        &.optionwidth12{width:(100%/12)}
        white-space:nowrap;
        &.scaleheader{
            white-space:normal;        
        }
    }

      .item { 
        @include span-columns($desktop-columns omega);

        &.errors {
          outline: 1px solid red;
          padding: 0.4em;
          .error {
            background: #ffaaaa;
            color: #550000;
            outline: 1px solid red;
            padding: 0.3em;
            margin-bottom: 0.3em;
          }
        }
        
        label.main {
          @include span-columns($label-columns);
          //font-weight: bold;
          em { font-style: italic; }
          strong { font-weight: bold; }
        }
        
        .text {
          @include text;
          margin-top: 3em;
        }

        .description-and-fields {
          @include span-columns($field-columns omega);
          .description { @include text; }
        }

        // Specific CSS for presentation styles

        // Not sure we want this
        //&.horizontal {
        //  label.main { @include span-columns($blueprint-grid-columns, true); @include append-bottom; }
        //  .description-and-fields { @include span-columns($blueprint-grid-columns, true); }
        //  .description { @include span-columns($blueprint-grid-columns, true); }
        //  .fields { @include span-columns($blueprint-grid-columns, true); }
        //}

        // Specific CSS for certain item types
      
        &.string, &.textarea {
          margin-bottom: 0.5em;
          &.bulkitem {
            margin-bottom: 0.0em;
          }
          input, textarea { 
            width: 99%;
          }
        }

        &.integer.slider,
        &.float.slider {
          input { width: 99%; }

          .slider-label-left {
            @include span-columns(6);
            text-align: left;
          }

          .slider-label-right {
            @include span-columns(6 omega);
            text-align: right;
          }

        }
        
        &.bulkitem {
            padding: 0.5em 0em 0.5em 0.5em;
            &.radio, &.check_box, &.scale {
                .fields.options1  table { @include span-columns( 1 omega); @include post(17); }
                .fields.options2  table { @include span-columns( 2 omega); @include post(16); }
                .fields.options3  table { @include span-columns( 3 omega); @include post(15); }
                .fields.options4  table { @include span-columns( 4 omega); @include post(14); }
                .fields.options5  table { @include span-columns( 5 omega); @include post(13); }
                .fields.options6  table { @include span-columns( 6 omega); @include post(12); }
                .fields.options7  table { @include span-columns( 7 omega); @include post(11); }
                .fields.options8  table { @include span-columns( 8 omega); @include post(10); }
                .fields.options9  table { @include span-columns( 9 omega); @include post( 9); }
                .fields.options10 table { @include span-columns(10 omega); @include post( 8); }
                .fields.options11 table { @include span-columns(11 omega); @include post( 7); }
                .fields.options12 table { @include span-columns(12 omega); @include post( 6); }
                .fields.options13 table { @include span-columns(13 omega); @include post( 5); }
                .fields.options14 table { @include span-columns(14 omega); @include post( 4); }
                .fields.options15 table { @include span-columns(15 omega); @include post( 3); }
                .fields.options16 table { @include span-columns(16 omega); @include post( 2); }
                .fields.options17 table { @include span-columns(17 omega); @include post( 1); }
                .fields.options18 table { @include span-columns(18 omega);                    }
                // more than 18 options is future work
            
                &.horizontal {
                    // we need to reset this to be table cells
                    .description { float: none; display: table-cell; }
                }
                .options {
                    @include span-columns(12 omega);
                    @include pre(12);
                    margin-top: 1em;
                }
                .option {
                    text-align: center;                                    
                }
            }
        }

        &.notbulkitem {
          @include span-columns($desktop-columns omega);
          padding: 0.5em 0em 0.5em 0.5em;
          margin-bottom: 1em;

          .main {
            @include span-columns($label-columns);
            em {
                font-style: italic;
            }
          }

          &.radio, &.check_box, &.scale {
            .inner-title {
              @include span-columns($field-columns omega, $field-columns);
              margin-top: 1.5em;
              margin-bottom: 1.5em;
              font-weight: bold;
            }

            .option {
              @include span-columns($field-columns omega, $field-columns); 
              // display: block;
              .radiocheckwrapper { 
                @include span-columns(1, $field-columns);
              }
              .labelwrapper      { 
                @include span-columns($field-columns - 1 omega, $field-columns); 
                label { white-space: normal; }
                p { display: inline; }
              }

              &.show_values {
                .value { 
                  @include span-columns(1, $field-columns); 
                  text-align: center; 
                }
                //.labelwrapper { @include span-columns(16, true); }
              }

              .subquestions {
                  @include pre(1);
                  @include span-columns($field-columns - 1, $field-columns);

                  .item { 
                       @include span-columns($field-columns - 1, $field-columns); 
                       input { width: auto; }
                  }
              }
            }
          }
        }
      }

      @include tablemix($desktop-columns, $label-columns, $field-columns);
    }
  }
}