/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic fieldset { border: 1px solid #ccc; padding: 1em; }
form.formtastic fieldset legend { font-family: Georgia, serif; font-size: 1.5em; margin: 0 0.3em; padding: 0 0.2em; }

form.formtastic fieldset fieldset { border: 0; }