body {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em; }

#navigation {
  background: #eee;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  overflow: auto; }
  #navigation li {
    float: left; }
    #navigation li a {
      display: block;
      padding: 5px;
      border-right: 1px solid #ccc;
      text-decoration: none; }
    #navigation li.active a {
      background: #ccc; }

#mastfoot {
  text-align: center;
  color: #aaa; }
  #mastfoot:before {
    content: "\2014"; }
  #mastfoot:after {
    content: "\2014"; }

#content {
  margin: 2em; }

h1 {
  font-family: Georgia, serif;
  font-size: 1.5em; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em; }
  table thead tr th {
    background: black;
    color: white;
    padding: 5px;
    border: 1px solid #000; }
  table td {
    padding: 5px;
    border: 1px solid #eee;
    vertical-align: top; }

pre {
  font-family: "Deja Vu Sans Mono", "Courier New", "Courier", monospace; }

.question {
  background: #e5e5e5;
  margin: 2em;
  padding: 2em; }
