body {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  background-color: #eee; }

#masthead {
  background: #0f72a4;
  padding: 1em 2em 0 2em; }
  #masthead h1 {
    color: white;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
    padding: 0; }
    #masthead h1 strong {
      font-size: 1.3em; }
  #masthead #user {
    float: right;
    margin-top: -1.5em;
    margin-bottom: -4em;
    margin-left: 15em;
    color: white; }
    #masthead #user a {
      color: white; }
  #masthead #nav {
    color: #fff;
    overflow: auto; }
    #masthead #nav ul {
      margin: 1em 0 0 0;
      display: block;
      overflow: auto;
      position: relative; }
      #masthead #nav ul li {
        float: left; }
        #masthead #nav ul li a {
          float: left;
          background: #002e60;
          padding: 0 10px;
          margin: 0 0.5em 0 0;
          line-height: 2em;
          color: #fff;
          text-decoration: none;
          outline: none; }
          #masthead #nav ul li a#current {
            background: white;
            color: black; }
      #masthead #nav ul li.beta a {
        background: #006294;
        color: #777; }
      #masthead #nav ul li.other {
        float: right; }
        #masthead #nav ul li.other a {
          background: none; }

/* ** fix for IE6.0 ** */
* html #nav {
  height: 39px; }

#mastfoot {
  margin: 0 auto;
  max-width: 900px;
  text-align: right;
  color: #aaa; }
  #mastfoot:before {
    content: "\2014"; }
  #mastfoot:after {
    content: "\2014"; }

#content {
  margin: 8em auto 0em auto;
  max-width: 900px; }
  #content .panel {
    background: #fff;
    border: 1px solid #ddd;
    padding: 2em; }
    #content .panel h1 {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1em; }
    #content .panel .prevnext .prev {
      float: left; }
    #content .panel .prevnext .next {
      float: right; }
    #content .panel .item {
      margin-bottom: 2em; }
      #content .panel .item label {
        display: block;
        width: 25%;
        float: left;
        padding-top: .2em; }
      #content .panel .item .radio ol {
        position: relative;
        width: 74%;
        margin: 0;
        padding: 0 0 0 25%; }
        #content .panel .item .radio ol li label {
          float: none;
          display: inline;
          width: 100%; }
        #content .panel .item .radio ol li .item {
          margin-bottom: 0.5em; }

#flash {
  padding: 0.7em;
  margin: 0 0 2em 0;
  border: 1px solid black; }
  #flash.notice {
    background-color: #ffffcc;
    border-color: #ffcc66; }
  #flash.success {
    background-color: #ccffcc;
    border-color: #11cc11; }
  #flash.error {
    background-color: #ffcccc;
    border-color: #cc1111; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em; }
  table thead tr th {
    background: black;
    color: white;
    padding: 5px;
    border: 1px solid #000; }
  table tr.even {
    background: #e9e9e9; }
  table td {
    padding: 5px;
    border: 1px solid #cecece;
    vertical-align: top; }

pre {
  font-family: "Deja Vu Sans Mono", "Courier New", "Courier", monospace; }

.question {
  background: #e5e5e5;
  margin: 2em;
  padding: 2em; }

.formtastic#new_answer fieldset.panel {
  margin-bottom: 2em; }
