/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

 body {
   color: black;
   background: white;
   //font-family: "Times New Roman", Times, serif
   font-family: Arial, sans-serif;
   font-size: 10pt; }

 em {
   font-weight: bold; }

 p {
   margin-bottom: 0.5em; }

 ul {
   margin-top: 0.5em;
   margin-left: 1em;
   li {
     list-style-type: disc;
     margin-bottom: 0.3em; } }

.panel {
    border: none;
    padding-bottom: 1em;
    .item{
        position: relative;
        padding-bottom: 1em;
        clear: both;
        .custom-checkbox, .custom-radio {
            position: relative;
            padding-bottom: 0.3em;
            label {
                padding: 0em 0 0em 2.2em; } }
        .radio > label, .checkbox > label {
            padding-right: 1em;
           font-weight: bold; }
        .labelwrapper{
            display:inline;
         }
        &.notbulkitem{
         .option{
            position: relative;
            float:left;
            clear:both;
         }
         .labelwrapper{
            display:block;
         }
        }            
     }
     
     .description {
       margin-bottom: 1.5em; }
     .description, .text {
       ul {
       padding-left: 0.5em; } } }  



.options {
    margin-top: 1em;
    .option {
        text-align: center;
    }
}
.option {    
    &.optionwidth1{width:20%}
    &.optionwidth2{width:20%}
    &.optionwidth3{width:20%}
    &.optionwidth4{width:20%}
    &.optionwidth5{width:20%}
    &.optionwidth6{width:(100%/6)}
    &.optionwidth7{width:(100%/7)}
    &.optionwidth8{width:(100%/8)}
    &.optionwidth9{width:(100%/9)}
    &.optionwidth10{width:(100%/10)}
    &.optionwidth11{width:(100%/11)}
    &.optionwidth12{width:(100%/12)}                
}
.bulk{
        .option {display: inline;}
    }

p, .radiocheckwrapper{
    display: inline;
}

.hidden, :disabled, #hotkeyDialogLink, #mastfoot, .buttons{
  display: none;
}
.panel{
  display: block  !important;
}
