/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "blueprint/typography";

body {
    color: black;
    background-color: #ffffff;
    //font-family: "Times New Roman", Times, serif
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

#content {
    margin: 0em;
}

.print{
   
    em {
        font-weight: bold; }
    
    p {
        margin-bottom: 0.5em; }
    
    ul {
        margin-top: 0.5em;
        margin-left: 1em;
    li {
        list-style-type: disc;
        margin-bottom: 0.3em; } }
    
    .panel {
        border: none;
        margin-left: 1em;
        .item{
            margin-top: 1em;
            
            .radio > label, .checkbox > label {
                padding-right: 1em;
               font-weight: bold; }
            .labelwrapper{
                display:inline;
             }
        }
        
        .main, .qnumber, .mainlabelwrap{
            display:inline;
        }
         
        .description {
            margin-bottom: 0.5em; }
        .fields {
            padding-left: 4em;
        }
        .description, .text {
            ul {
                margin-left: 0.5em; } } 
    
        .options {
            margin-top: 1em;
            .option {
                text-align: center;
            }
        }
        .option {    
            &.optionwidth1{width:20%}
            &.optionwidth2{width:20%}
            &.optionwidth3{width:20%}
            &.optionwidth4{width:20%}
            &.optionwidth5{width:20%}
            &.optionwidth6{width:(100%/6)}
            &.optionwidth7{width:(100%/7)}
            &.optionwidth8{width:(100%/8)}
            &.optionwidth9{width:(100%/9)}
            &.optionwidth10{width:(100%/10)}
            &.optionwidth11{width:(100%/11)}
            &.optionwidth12{width:(100%/12)}                
        }
        
    }
    .bulk{
        .option {display: inline;}
    }
    
    p, .radiocheckwrapper, div.value{
        display: inline;
    }
    
    .hidden, :disabled, #hotkeyDialogLink, #mastfoot, .buttons, .item.text{
      display: none;
    }        
}
