/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint/grid";
@import "blueprint/typography";
//@import "custom-inputs.sass";

// Variables
$masthead_bg: #0f72a4;

// Partials
@import "partials/text.scss";

body {
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  background-color: #eeeeee; 
}

#mastfoot {
  margin: 0 auto;
  max-width: 900px;
  text-align: right;
  color: #aaaaaa;

  &:before {
    content: "\2014"; 
  }
  
  &:after {
    content: "\2014"; 
  } 
}

#noscript-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: yellow;
  border: 4px solid red;
  color: red;
  font-size: 1.5em;
  text-align: center;
}

#content {
  margin: 8em auto 0em auto;
  
  .flash {
    margin-bottom: 1em;
    div {
      padding: 5px;
      background: #333333;
      border: 1px solid black;
    }
    
    .error {
      background: #ffbbbb;
      border: 1px solid #ff3333;
    }
  }
  
  .panel {
    @include container;
    
    padding: 3em ($blueprint-grid-width + $blueprint-grid-margin) 1.5em;
    line-height: 18px;
    
    background: white;
    background: url(/images/grid.png);
    border: 10px solid #dddddd;
    margin-bottom: 2em;
    
    h1 {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 1.2em;
      z-index: 400;
    }
    
    .prevnext {
      .prev { float: left; }
      .next { float: right; }
    }
    
    .abort { text-align: center; }

    .item { 
      @include column(24, true);
      margin-bottom: 18px;

      &.hidden {
        display: none;
      }

      &.errors {
        border: 1px solid red;
        padding: 0.4em;
        .error {
          background: #ffaaaa;
          color: #550000;
          border: 1px solid red;
          padding: 0.3em;
          margin-bottom: 0.3em;
        }
      }
      
      label.main {
        @include column(6);
        font-weight: bold;
      }
      
      .text {
        @include text;
      }

      .description-and-fields {
        @include column(18, true);

        .description {
          @include text;
          @include column(18, true);
        }

        .fields {
          @include column(18, true);
        }
      }

      // Specific CSS for certain item types
      
      &.radio, &.check_box {
        .option {
          @include column(18, true); 
          .radiocheckwrapper { @include column(1); }
          label  { @include column(17, true); }
          .subquestions {
            @include prepend(1);
            @include column(17);
          }
        }
      }
    }
  }
  
  .buttons {
    @include column(24, true);
    background: #f3f3f3;
    border: 10px solid #dddddd;
    border-top: 1px dotted #d6d6d6;
    margin-top: -10px;
    padding: 1em;
    text-align: right;
  }
  
  .bulk {
    border-top: 10px solid #dddddd;
    
    .panel {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      border-top: 0;
    }
    
    .buttons { top: 0; }
  }
}

#flash {
  padding: 0.7em;
  margin: 0 0 2em 0;
  border: 1px solid black;
  &.notice {
    background-color: #ffffcc;
    border-color: #ffcc66;
  }
  &.success {
    background-color: #ccffcc;
    border-color: #11cc11;
  }
  &.error {
    background-color: #ffcccc;
    border-color: #cc1111;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
  thead tr th {
    background: black;
    color: white;
    padding: 5px;
    border: 1px solid black;
  }
  
  tr.even {
    background: #e9e9e9;
  }
  
  td {
    padding: 5px;
    border: 1px solid #cecece;
    vertical-align: top;
  }
}

pre {
  font-family: "Deja Vu Sans Mono", "Courier New", "Courier", monospace;
}

.hidden { display: none; }

.question {
  background: #e5e5e5;
  margin: 2em;
  padding: 2em;
}

//jquery placeholder styling
//match placeholder/watermark padding to border+padding for input element
label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
}

//html5 placeholder support
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999999;
}

input:placeholder, textarea:placeholder {
  color: #999999;
}