= render :partial => "quby/v1/shared/main_label", :locals => {:question => question}
.description-and-fields
  .fields{:id => question.html_id}
    - question.options.each do |opt|
      - next if opt.inner_title
      - checked = @answer.send(opt.key) == 1
      - next if( not checked)
      - show_values = question.show_values_in_mode? :paged
      .option{:class => show_values ? "show_values" : nil}
        .labelwrapper
          - if show_values
            .value= opt.value
          %label{for: opt.view_id}
            %span
              -unless opt.description.blank?
                :markdown
                  #{raw opt.description}
              - else
                Aangevinkt
        - unless opt.questions.empty?
          .subquestions= render :partial => "quby/v1/print/item", :collection => opt.questions,  :locals => {:subquestion => true}
