- hotkeys = ["shortkeys/1key.jpg",
  "shortkeys/2key.jpg",
  "shortkeys/3key.jpg",
  "shortkeys/4key.jpg",
  "shortkeys/5key.jpg",
  "shortkeys/6key.jpg",
  "shortkeys/7key.jpg",
  "shortkeys/8key.jpg",
  "shortkeys/9key.jpg",
  "shortkeys/0key.jpg",]
- if @questionnaire.allow_hotkeys == :all or session[:display_mode] == @questionnaire.allow_hotkeys
  %a{:id => "hotkeyDialogLink", :href => "javascript:hotkeyDialog();", :title => "Klik hier voor informatie over de sneltoetsen."}
    Sneltoetsen
  %div{:id => "hotkeyDialog", :title => "Sneltoetsen", :style => "display:none"}
    %p Gebruik de volgende toetsen voor het invullen van de schalen:
    - hotkeys.each do |hk|
      = image_tag(hk)