:javascript
  var panel_validations = {}

- form_tag questionnaire_answer_path(@questionnaire, @answer), :method => :put, :class => @questionnaire.key do
  = render :partial => "panel", :collection => @questionnaire.panels, :locals => {:panels => @questionnaire.panels, :questionnaire => @questionnaire}

  %fieldset.buttons
    = submit_tag "Klaar"