:javascript
  var panel_validations = {}
  //for setting values of raw_content
  var extra_question_values = #{@answer.extra_question_values}
  //for showing validations of raw content
  var extra_failed_validations = #{@answer.extra_failed_validations}
  
- content_for(:page_title, @questionnaire.title)
- content_for(:extra_css, @questionnaire.extra_css)
- content_for(:override_css, stylesheet_link_tag('print.css', :media => 'screen, projection, print'))
  
-#= button_to_function 'Print', "window.print();", :class => "print_button"

%h1=@questionnaire.title

- previous_item = nil
= form_tag "", :method => :put, :class => [@questionnaire.key, "print"].join(" "), :autocomplete => "off" do
  - @questionnaire.panels.each_with_index do |panel, panel_counter|
    - panel.items.each_with_index do |item, idx|
      = render :partial => "quby/answers/print/item", :object => item, :locals => { :item_counter => idx, :items => panel.items, :previous_item => previous_item}
      - previous_item = item if item.class.name == "Items::Question"

-#= button_to_function 'Print', "window.print();", :class => "print_button"
    
