@import "compass/reset";
//@import "blueprint/grid";
@import 'susy';
@import "blueprint/typography";
@import "custom-inputs";
@import "fd-slider";

$total-columns: 24;
$gutter-width: 0.769em;
$column-width: (58.308em - (23*$gutter-width)) / 24;
$blueprint-grid-outer-width: $column-width + 2*$gutter-width;

$masthead_bg: #0f72a4;

@import "screen";
@import "paged";
@import "table/layout";
@import "paged/layout";
@import "bulk/layout";
@import "layout";
