@import "compass/reset";
//@import "blueprint/grid";
@import 'susy';
@import "blueprint/typography";
@import "custom-inputs";
@import "fd-slider";

$masthead_bg: #0f72a4;

// mixins that apply to specific layout sizes
@import "general/desktop";

// other stuff
@import "partials/text.scss";
@import "screen";
@import "table/layout";

// display modes
@import "paged";
@import "bulk/layout";
