@import "compass/reset";
@import "compass/css3";
@import 'susy';
@import "blueprint/typography";
@import "custom-inputs";
@import "fd-slider";

$masthead_bg: #0f72a4;

// mixins that apply to specific layout sizes
@import "general/desktop";

// other stuff
@import "partials/text.scss";
@import "screen";
@import "table/layout";
@import "dialog";
@import "redmond/jquery-ui-1.8.7.custom";

// display modes
@import "paged";
@import "bulk/layout";
