%h1 
  Answered 
  = @questionnaire.class.to_s.demodulize.upcase

- @questionnaire.script.each do |id|
  - question = @questionnaire.questions[id]
  %h2= question.str
  - case question.type
  - when :open
    %p= params[id]
  - when :radio 
    %p= question.choices[ params[id].to_i ]
