%h1 
  Answered 
  = @questionnaire.class.to_s.demodulize.upcase

- @questionnaire.script.each do |id|
  - question = @questionnaire.questions[id]
  %h2= question.str
  - case question.type
  - when :open
    %p= @questionnaire.send(id)
  - when :radio 
    %p= question.choices[ @questionnaire.send(id).to_i ]

