= render :partial => "quby/v1/shared/main_label", :locals => {:question => question}
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    = render 'quby/v1/shared/date_inputs', :question => question, :subquestion => subquestion, :disabled => disabled
