= render :partial => "quby/v1/shared/main_label", :locals => {:question => question}
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    %select(name="answer[#{question.key}]" onchange="$(\"#answer_#{question.key}_\"+this.value).trigger(\"click\")")
      -question.options.each do |opt|
        - checked = @answer.send(question.key) == opt.key.to_s
        - next if (opt.hidden and not checked)
        - cls = [question.type]
        - cls << "subinput"  if subquestion
        - hash = {:value => opt.key, :class => cls, :disabled => disabled ? "" : nil, :id => opt.view_id}
        - hash[:selected] = 'selected' if @answer.send(question.key) == opt.key.to_s
        %option{hash}
          =opt.description
