- questions = []
- panel.items.select{ |item| item.is_a? ::Quby::Questionnaires::Entities::Items::Question}.each do |question|
  - question_hash = question.as_json
  - question_hash[:options].andand.map do |option|
    - option[:start_chosen] = (answer.send(question.key).to_s == option[:key].to_s)
  - questions << question_hash

:javascript
  $(function() {
    Quby.currentPanelQuestions = new Quby.Collections.Questions;
    var questions = #{questions.as_json.to_json};
    var initializer = new Quby.Logic.InitQuestions(questions);
    Quby.currentPanelQuestions = initializer.initializeQuestions();
    Quby.questions.addAndRegisterInit(Quby.currentPanelQuestions);
    Quby.panels.add(new Quby.Models.Panel({viewSelector: "##{panel_id}", questions: Quby.currentPanelQuestions}));
  });
