- disabled ||= false
- subquestion ||= false
- cls = [question.type]
- cls << "subinput"  if subquestion
- placeholders = Quby::Questionnaires::Entities::Questions::DateQuestion::COMPONENT_PLACEHOLDERS
- default_date_keys = Quby::Questionnaires::Entities::Questions::DateQuestion::COMPONENT_KEYS
- components = question.components.sort
- components.each do |component|
  - size = component == :year ? 5 : 3
  - key = question.send(:"#{component}_key")
  = text_field :answer, key, :placeholder => translate(placeholders[component]), :size => size, |
    autocomplete: question.autocomplete, class: cls, disabled: disabled ? "" : nil,             |
    data: {field: {key: key}, "default-date-key" => default_date_keys[component]}               |
