-# frozen_string_literal: true
.item.text.specifier{:data => question.extra_data, :class => answer.errors[question.key].empty? ? nil : 'errors'}
  = render :partial => 'quby/v1/shared/validations', :locals => {:question => question, :answer => answer}
  .fields{:id => question.html_id}
    = question.title
    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => ["string", "subinput"], :sets_textvar => question.sets_textvar || "", :size => 20
