-# frozen_string_literal: true
.print
  %a.print_button{href: '#', data: {url: pdf_questionnaire_answer_path(@questionnaire, @answer)}}
    = image_tag "quby/pdf.gif"
    = translate('download_answers_pdf')

