- if Quby.show_exceptions
  .flash
    .error
      - if @questionnaire && @questionnaire.errors.size > 0
        \#{@questionnaire.errors.size} errors
        %ul
          - @questionnaire.errors.full_messages.each do |msg|
            %li= msg
      - if @error
        %p= @error.message
        %br
        %p.stacktrace= @error.backtrace[0..15].join("\n")
- else
  .flash
    .error
      %p Er zit een fout in de definitie van deze vragenlijst en u kunt hem daardoor op dit moment niet uitvoeren.
      %p Probeert u het aub later nogmaals.
