-return if @answer.send(question.key).blank?
=marukufix(question.title, "answer_#{question.key}")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields(id="answer_#{question.key}_input")
    %select(name="answer[#{question.key}]") 
      -question.options.each do |opt|
        - checked = @answer.send(question.key) == opt.key.to_s
        - @answer.to_hide += opt.hides_questions if checked
        - hash = {:value => opt.key, :hides => opt.hides_questions.to_json || "[]", :allhidden => question.hides_questions.to_json ||"[]", :class => subquestion ? "subinput" : "", :disabled => disabled ? "" : nil}
        - hash[:selected] = 'selected' if @answer.send(question.key) == opt.key.to_s 
        %option{hash}
          =opt.description