=marukufix(question.title, "answer_#{question.key}")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    -question.options.each do |opt|
      - checked = @answer.send(question.key) == opt.key.to_s
      - next unless checked
      - @answer.to_hide += opt.hides_questions if checked
      .option
        =opt.description
