- semantic_form_for(@function, :url => admin_function_path(@function)) do |form|
  - form.inputs :name => "General" do
    = form.input :name
    = form.input :definition, :input_html => {:value => @function.definition}
  = form.buttons