%h1== New function

- semantic_form_for(@function, :url => admin_functions_path) do |form|
  - form.inputs :name => "General" do
    = form.inputs :name
    =# form.inputs :documentation, :rows => 10
    = form.inputs :definition
  = form.buttons
