%div#root

:javascript
  var component = React.createFactory(Questionnaire)

  ReactDOM.render(
    React.createElement(component, #{assigns.to_json.html_safe}),
    document.getElementById('root')
  );
