- available_width = question.presentation == :horizontal ? 100 : 66
%td.item{:class => os_cycle, :style => "width:#{available_width/(table.columns)}%", :rowspan => question.row_span, :data => question.extra_data}
  .fields{:class => question.type, :id => question.html_id}
    %select(name="answer[#{question.key}]")
      -question.options.each do |opt|
        - checked = @answer.send(question.key) == opt.key.to_s
        - handle_hide_questions(question,opt,@questionnaire) if checked
        - hash = {:value => opt.key, :hides => opt.hides_questions.to_json || "[]", :unhides => opt.unhides_questions.to_json ||"[]", :class => question.type}
        - hash[:selected] = 'selected' if checked
        %option{hash}
          =opt.description
    = validations