- available_width = question.presentation == :horizontal ? 100 : 66
%td.item{:class => os_cycle, :style => "width:#{available_width/(table.columns)}%", :rowspan => question.row_span, :colspan => question.col_span, :data => question.extra_data}
  .fields{:class => question.type, :id => question.html_id}
    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => question.type, :size => (question.size || 30)
    = validations