%label.main(for="answer_#{question.key}")= sanitize(marukufix(question.title, nil), :tags => %w(em)) || raw("&nbsp;")
.description-and-fields
  .description
    - unless question.description.blank?
      :markdown
        #{raw question.description}
  .fields{:id => question.html_id}
    = text_field :answer, question.key, :autocomplete => question.autocomplete, :class => subquestion ? "subinput" : "", :disabled => disabled ? "" : nil, :size => (question.size || 30)
    %span.unit= raw question.unit
    